beautifulsoup4==4.12.3 ; python_version >= "3.9"
bs4==0.0.1 ; python_version >= "3.9"
mysql-connector-python==9.1.0 ; python_version >= "3.9"
numpy==1.26.4 ; python_version >= "3.9"
pandas==2.2.3 ; python_version >= "3.9"
pypdf2==1.28.6 ; python_version >= "3.9"
python-dateutil==2.9.0.post0 ; python_version >= "3.9"
pytz==2024.2 ; python_version >= "3.9"
send2trash==1.8.3 ; python_version >= "3.9"
six==1.16.0 ; python_version >= "3.9"
soupsieve==2.6 ; python_version >= "3.9"
tzdata==2024.2 ; python_version >= "3.9"
